body {
    background-color:black;
    font-family:arial;
    color:white
}
h1 {
    color:grey;
    font-family:verdana
}
.maindiv {
    background-color:white;
    color:black;
    width: 32%;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    line-height: 200%;
}
.resultdiv {
    line-height:100%;
    padding-left: 10%;
}
table {
    padding-left: 10%;
}



